# Backend ignores
backend/.DS_Store
backend/job_description.txt
backend/job_description_enhanced.txt
backend/.venv/
backend/__pycache__/
backend/.pytest_cache/

# Frontend ignores
# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Dependencies
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 